/* Navbar */
.container{
    width:90%;
    margin:auto;
    /* overflow:hidden; */
    /* background-color: red; */
}
.n-wrapper{
    width:100%;
    position: absolute;
    z-index: 999;
    background: var(--primary-color);
}
.n-container{
    font-weight: 500;
    display: block;
    color:white;
    padding:1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
}
.n-logo{
    cursor: pointer;
    font-weight: bold;
}
.n-right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2.5rem;
    font-size: 0.9rem;
    text-transform: uppercase;
}
.n-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2.5rem;
}
.n-menu span{
    cursor: pointer;
}
.fund-button{
    font-size: 1rem;
    text-transform: capitalize;
    padding: 1rem 1.6rem;
    background-color: var(--third-color);
    color:var(--dark-bg);
    border-radius: 999px;
}
.m-container{
    display: none;
}
            /* Hero */
.h-wrapper{
  background:var(--primary-color);
  height:120vh;
  overflow: hidden;
}
.h-wrapper .container{
  padding-top: 8rem;
}
.h-container{
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.h-arrow{
  z-index:0;
  max-width:56rem;
  width:100%;
  top:5rem;
  position: absolute;
}
.h-left{
  flex:1;
  position: relative;
  gap:1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image-row{
  gap:2rem;
  display: flex;
}
.image-row > :nth-child(2){
  /* translate: transformY(-4rem); */
  margin-top: -1.8rem;
}
.person-pill{
  height:15rem;
  width:6rem;
  border-radius: 999px;
  overflow: hidden;
}
.person-pill-bg{
  border-radius: 999px;
  width:100%;
  height:100%;
  overflow: hidden;
}
.person-pill-bg>img{
  width:100%;
  object-fit: cover;
  scale:2;
  margin-top: 4rem;
}
.h-right{
  flex:1.25;
  display: flex;
  flex-direction: column;
  gap:2rem;
}
.h-title{
  display: flex;
  flex-direction: column;
  gap:2rem;
  font-size: 4rem;
  font-weight: bold;
  color: var(--third-color);
}
.h-title > :nth-child(3){
  color:white;
}
.h-des{
  color: white;
  font-size: 1.4rem;
  line-height: 2rem;
}
             /* Email */
.email-box{
  background-color: white;
  padding:1rem 2rem;
  border-radius: 999px;
  display: flex;
  align-items: center;
  width:70%;
  position: relative;
  overflow: hidden;
}
.email-box>input{
  outline: none;
  border: none;
  margin-left: 1rem;
  font-size: 1rem;
  color:rgb(150,150,150);
  font-family:'__Josefin_Sans_584c1b', '__Josefin_Sans_Fallback_584c1b';
  flex:1;
}
.email-box>input::placeholder{
  font-size: 0.8rem;
}
.e-button{
  position: absolute;
  right:0.5rem;
  height:80%;
  background: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0rem 2rem;
  border-radius: 999px;
  color:white;
}
          /* BrandingVideo */
.bv-container{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
}
.bv-video{
  width:90%;
  border-radius: 4rem;
  margin-top: -7rem;
  z-index:1;
}
.video-container{
  display: flex;
    align-items: center;
    justify-content: center;
}
         /* What We do */
.wwd-wrapper{
  position: relative;
}
.wwd-container{
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  gap:2rem;
  align-items: center;
  justify-content: center;
}
.wwd-head{
  display: flex;
  flex-direction: column;
  gap:1.5rem;
  width:75%;
  align-items: center;
  justify-content: center;
}
.wwd-blocks{
  gap:2rem;
  width:100%;
  display: flex;
  padding:0 10px;
}
.wwd-block{
  flex:1;
  display: flex;
  flex-direction: column;
  gap:1rem;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
  border-radius: 2rem;
  box-shadow: var(--shadow);
  font-weight: 500;
  line-height: 1.6rem;
  font-size: 1.1rem;
  color:var(--title-color);
}
.block-features{
  margin-top:1rem;
  display: flex;
  gap:1rem;
}
.block-feature{
  flex:1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap:1rem;
  border:1px solid hsla(0,0%,59%,0.17);
  border-radius: 1rem;
  padding: 1rem;
  height:fit-content;
}
.wwd-block:nth-child(1)>.block-features>:nth-child(2){
  margin-top: 3rem;
  /* padding-top:4rem; */
}
.wwd-block:nth-child(2)>.block-features>:nth-child(1),
.wwd-block:nth-child(2)>.block-features>:nth-child(3){
  margin-top: 2rem;
}
.wwd-support{
  justify-content: space-between;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  margin-top:2.5rem;
  background: white;
  border-radius: 1rem;
  box-shadow: var(--shadow);
  padding: 2rem;
  gap:1.6rem;
}
.wwd-support>div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap:1rem;
}
           /* Our Difference */
.od-wrapper{
  padding-top: 10rem;
}
.od-container{
  display: flex;
  flex-direction: column;
  gap:2rem;
}
.od-head{
  align-items: center;
  display: flex;
  flex-direction: column;
  gap:2rem;
}
.od-head .tag{
  color:white;
}
.od-head .text{
  color:white;
  align-items: center;
  max-width: 65%;
}
.od-features{
  display: flex;
  gap:2rem;
  margin-bottom: 10rem;
}
.od-feature{
  flex:1;
  background: white;
  display: flex;
  box-shadow: var(--shadow);
  flex-direction: column;
  align-items: center;
  gap:1rem;
  padding:2rem;
  border-radius:1rem;
}
.od-feature .text{
  align-items: center;
}
           /* HowItsWorks */
.hit-wrapper{
  padding-top:10rem;
}
.hit-container{
  display: flex;
  flex-direction: column;
  gap:2rem;
}
.hit-head{
  align-items: center;
  display: flex;
  flex-direction: column;
  gap:2rem;
  margin: auto;
  max-width: 80%;
}
.hit-featues{
  display: flex;
  flex-direction: column;
  gap:2rem;
  align-items: center;
}
.hit-feature{
  padding:0.5rem 1rem;
  max-width: 38rem;
  align-items: center;
  border-radius: 2rem;
  background-color: var(--light-bg);
  width:max-content;
}
.hit-feature .detail{
  display: flex;
  flex-direction: column;
  gap:1rem;
  align-items: flex-start;
  translate: -18% 0rem;
}
.hit-feature .detail>:nth-child(1){
  font-weight: bold;
  font-size: 1.1rem;
}
.hit-feature>:nth-child(2){
  margin-left:10rem;
}
.hit-feature>:nth-child(1),
.hit-feature>:nth-child(3)
{
  margin-right:5rem;
}
@media (max-width:1024px){
  .bv-video{
    margin-top: 1rem;
  }
 .h-wrapper{
  height: max-content;
 }
 .h-wrapper .container{
  padding:5rem;
 }
 .h-container{
  height:auto;
  flex-direction: column;
  gap:4rem;
  padding-top:3rem;
  align-items: center;
  padding-bottom:3rem;
 }
 .h-arrow{
  display: none;
 }
 .h-right{
  flex:1;
  align-items:center;
 }
 .h-title{
  align-items: center;
  font-size:2.2rem;
 }
 .h-des{
  font-size:1.2rem;
  width:80%;
  text-align: center;
 }
}
@media (max-width:576px){
    .container{
      max-width: 540px;
    }
    .wwd-block{
      width:80%;
      margin: auto;
    }
    .block-features{
      flex-direction: column;
    }
    .block-feature{
      margin-top: 0rem !important;
    }
    .od-feature{
      width:80%;
      margin:auto;
    }
  }
  @media (max-width:768px){
    .container{
      max-width: 720px;
    }
    .bv-video{
      border-radius: 2rem;
    }
    .wwd-support{
      flex-direction: column;
    }
  }
  @media (max-width:992px){
    .container{
      max-width: 960px;
    }
    .n-container{
        display: none;
    }
    .m-container{
        display: block;
        color:white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:1rem;
        position: relative;
        background-color: var(--primary-color);

    }
    .m-container:nth-child(1){
        font-weight: bold;
    }
    .m-menu{
        position: fixed;
        top:3.9rem;
        left:0;
        display: flex;
        flex-direction: column;
        background: var(--primary-color);
        box-sizing: border-box;
        transform: translate(-990px);
        padding: 3rem 2rem;
        transition:all 300ms ease-in-out;
        width:100%;
        font-size: 1.2rem;
        z-index: 99;
        height: calc(100vh- 3.9rem);
    }
    .m-menu span{
        margin-bottom: 2rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid var(--border-color);
    }
    .m-fund-button{
        width:100%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        border-radius: 999px;
        background-color: var(--third-color);
        padding:1rem 0rem;
        columns: var(--dark-bg);
    }
    .wwd-blocks{
        flex-direction: column;
    }

  }
  @media (max-width:1200px){
    .container{
      max-width: 1200px;
    }
    
  }
    
